@layer reset, base, theme;

@layer base {
	html,
	body {
		height: 100%;
	}

	section {
		display: grid;
		width: 100%;
		height: 100%;
		gap: 0.5rem 0.5rem;
		place-content: center;
	}
}
